<!DOCTYPE html>
<html>
   <head>
      <title>自动化测试</title>
      <meta charset="utf-8">

      <link href="./css/bootstrap.min.css" rel="stylesheet">
	  <link href="./css/fileinput.min.css" rel="stylesheet">
      <link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet" type="text/css" >
      <link href="./css/build.css" rel="stylesheet" type="text/css">     
	  <link href="./css/main.css" rel="stylesheet">
      <link href="./css/task.css" rel="stylesheet" type="text/css">

      <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <script src="./js/template.js"></script>  
      <script src="./js/info.js"></script>
      <script src="./js/controller.js"></script>
      <script src="./js/v.js"></script>
      <script src="./js/mb.js"></script>
 
      <script src="./js/event.js"></script>
      <script src="./js/fileinput.min.js"></script>

   </head>
   <body>
   <div id="top" class=""></div>
   <div id="menu" class=""></div>
   <div id="content" class=""></div>
<!--        <form enctype="multipart/form-data" method="post"> -->
<!--            <input id="file-0a1" class="file" name="file" type="file" data-show-preview='false' multiple data-min-file-count="1"> -->
<!--            <br> -->
<!--        </form> -->
<!--       <input type='button' class='btn btn-primary' value='提交任务'>       -->
   </body>
   
<script>


// $('#file-0a1').fileinput({
//     language:'zh',
//     uploadUrl:'/auto-web/upload',
//     uploadAsync:true,
//     allowedPreviewTypes:['zip'],
//     initialCaption:"请将java脚本和测试apk打成zip后在此处上传",
//     uploadExtraData:function (previewId, index){
//     	var data = {
//     			'userName':getParam("username"),
//     		    'serialStr':";216a84c4"
//     			};
//     			return data;
//     }
// });

// $('#file-0a1').on('fileuploaded', function(event, data, previewId, index) {
//     var form = data.form, files = data.files, extra = data.extra,
//             response = data.response, reader = data.reader;
//     console.log('File uploaded triggered');
// }); 


// $('#file-0a1').on('fileuploaderror', function(event, data, previewId, index) {
//     var form = data.form, files = data.files, extra = data.extra,
//             response = data.response, reader = data.reader;
//     alert(data.response);
//     console.log(data);
//     console.log('File upload error');
// });

// $('#file-0a1').on('fileerror', function(event, data) {
//     console.log(data.id);
//     console.log(data.index);
//     console.log(data.file);
//     console.log(data.reader);
//     console.log(data.files);
// });



</script>


</html>