<!DOCTYPE html>
<html>
   <head>
      <title>多台测试</title>
      <meta charset="utf-8">

      <link href="./css/bootstrap.min.css" rel="stylesheet">
	  <link href="./css/fileinput.min.css" rel="stylesheet">
      <link href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" rel="stylesheet" type="text/css" >
      <link href="./css/build.css" rel="stylesheet" type="text/css">     
	  <link href="./css/main.css" rel="stylesheet">
      <link href="./css/task.css" rel="stylesheet" type="text/css">

      <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <script src="./js/template.js"></script>  
      <script src="./js/info.js"></script>
      <script src="./js/controller.js"></script>
      <script src="./js/v.js"></script>
      <script src="./js/mb.js"></script>
 
      <script src="./js/event.js"></script>
      <script src="./js/fileinput.min.js"></script>

   </head>
   <body>
   <div id="6eb3d6d5"></div>
   <div id="H619748000953"></div>

   </body>
   
<script>

$(document).ready(function(){
	//alert(1);
	loadPage();
});

function loadPage(){
	$("#6eb3d6d5").load("http://192.168.2.109:9003/?n=b20b2292d243053f8ece6cab2b009610&serial=6eb3d6d5&userName=971406187@qq.com");
}


</script>


</html>